<h1 class="h3 text-center mb-3">{{pageTitle}}</h1>

<main>
    <ul class="row m-auto container-sm" aria-label="Courses">
        <li class="card text-center mb-5 p-0 col-sm-auto m-sm-auto mb-sm-4" *ngFor="let course of courses">
            <div class="card-header h4">
                {{course.name}}
            </div>
            <div class="card-body">
                <p class="card-text h5">${{course.price}}</p>
                <p class="card-text h6">Available slots: {{course.emptySlots}}</p>
                <button class="btn btn-outline-dark fw-medium" (click)="open()">Reviews</button>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary fw-medium">Add to Cart</button>
            </div>
        </li>
    </ul>
</main>