<h1 class="h3 text-center mb-3">{{pageTitle}}</h1>

<main>
    <div class="card text-center">
        <div class="card-header h3">
            HTML
        </div>
        <div class="card-body">
            <h5 class="card-title">$40.00</h5>
            <p class="card-text h6">Available slots: 4</p>
            <a class="card-link text-decoration-none fw-bolder">Reviews</a>     
        </div>
        <div class="card-footer">
            <a class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
</main>