<main>
    <h2>About</h2>
    <p>Project developed by me, based on Deborah Kurata's course.</p>
    <h2>Features</h2>
    <ul>
        <li>Reactive programming with Angular Signals and RxJS together</li>
        <li>Bootstrap and ng-bootstrap</li>
        <li>Standalone components</li>
        <li>Responsive design and Accessibility</li>
    </ul>
</main>

<footer class="social">
    <a href="https://www.linkedin.com/in/gabriel-guimaraes-abrao-001195234/" target="_blank">
        <img src="../assets/LI-In-Bug.png" alt="LinkedIn's logo" aria-hidden="true">
        View my LinkedIn&reg; Profile
    </a>
</footer>