<main>
    <h1 class="h3 text-center mb-3">{{pageTitle}}</h1>
    <h2 class="h5">About</h2>
    <p>Project developed by me, based on Deborah Kurata's course.</p>
    <h2 class="h5">Features</h2>
    <ul class="mb-5">
        <li class="mb-3">Reactive programming with Angular Signals and RxJS together</li>
        <li class="mb-3">Bootstrap and ng-bootstrap</li>
        <li class="mb-3">Standalone components</li>
        <li class="mb-3">Responsive design and Accessibility</li>
        <li class="mb-3">Mobile-first design</li>
    </ul>
</main>

<footer class="social text-center">
    <a class="fs-6 fw-medium text-decoration-none text-black"
        href="https://www.linkedin.com/in/gabriel-guimaraes-abrao-001195234/" target="_blank">
        <img src="../assets/LI-In-Bug.png" alt="LinkedIn's logo" aria-hidden="true">
        View my LinkedIn&reg; Profile
    </a>
</footer>